@import url('https://fonts.googleapis.com/css?family=Dosis');

img{
    max-width: 100%;
}


header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

hr {
    margin: 40px
}

input {
    width: 293px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 0 5px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}


/* Home Page */

.homePage {
    background-image: url(../img/bg.png) ;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.logo {
    float: left;
    margin: 0 10px 5px;
}

.logoText {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    border-bottom: 2px solid white;
    width: 100%;
    height: 100%;
}


.cont {
    margin: 0 10%;

}

.row3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menuLink {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

/* Tablet Menu */

.menuTablet {
    display: none;
}

.open-tablet-menu {
    display: none;
    text-align: center;
    height: 90%;
    background-color: #2c2727;
    opacity: 0.7;
}

.menu-link-tablet {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none;
    margin: 20%;
}

.menu-link-tablet:hover {
    color: rgb(173, 166, 166);
}

.main {
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin: 0 15Px;
    list-style: none;
}

.mainTitel {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.mainTitel h1 {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
}

.mainTitel h3 {
    opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin: 60px
}

.buttonDown {
    background-color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    border-radius: 5px;
    color: #111111;
    text-align: center;
}

.listServices {
    justify-content: center;
}

/* TABS */

.tab-text {
    display: none
}

.listServices li {
    text-align: center;
    margin: 0 3%;
    min-width: 170px
    
}

.listServices span {
    /* color: #777777; */
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}

.activicon {
    color: rgb(201, 25, 25);
}

.inActivicon {
    color: #000;
}

.downIcon {
    transform: rotate(-45deg);
    position: fixed;
    left: 6px;
    bottom: 1px;
}

/* style About */

.titel {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.titelAbout {
    text-align: left;
}



.subtitelAbout {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitelAbout > small {
    font-size: 11px;
}

.textAbout {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
}

.row3 > div {
    width: 32%;
}



.workerName, .workerJob {
    font-family: dosis;
    text-align: center;
    color: #777777;
    font-weight: 400;
    text-transform: uppercase;
}

.workerName {
    font-size: 15px;
    letter-spacing: 6px; 
    margin: 30px 0 16px;
}

.workerJob {
    font-size: 12px;   
    letter-spacing: 4.8px;
}

/* T3D */
.transform-3d {
    perspective: 1000px
}

.transform-3d:hover .rotate {
    transform: rotateY(-180deg)
}

.rotate {
    margin: 6% 0;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s
}

.text-work {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    backface-visibility: hidden;
    transform: rotateY(180deg)
}

.text-padding {
    padding: 20px;
}

/* digitalServices */

.digitalServices {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.digitalServicescontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;;
}

.wTitel {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.wText {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;   
    margin-top: 27px;
}

.wbutton{
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    background-color: #ffffff;
    opacity: 0.8;
    border: none;
    outline: none;
    width: 40%;
    margin: 40px 0;
    padding: 12px 0;
}

.wbutton:hover {
    cursor: pointer;
    opacity: 0.45;
}

.imgDisplay{
    float: right;
    margin: -20px -40px;
}

/* Portfolio */
.PortfolioText{
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.portfolioList {
    display: flex;
    justify-content: center;
}

.portfolioList li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35Px
}

.PortfolioGalery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.GrayLayr {
    width: 33%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.GrayLayr:hover {
    filter:none;
    cursor: pointer;
}

.errorMail {
    display: none;
    text-align: center;
    align-items: center;
    background-color: rgb(228, 123, 123);
    height: 40px;
    font-size: 35px;
    transition: all ease 1s;
}
.errorName {
    display: none;
    text-align: center;
    align-items: center;
    background-color: rgb(228, 123, 123);
    height: 40px;
    font-size: 35px;
    transition: all ease 1s;
}
.welcome {
    display: none;
    text-align: center;
    align-items: center;
    background-color: rgb(25, 247, 25);
    height: 40px;
    font-size: 35px;
    transition: all ease 1s;
}


/* MAP */

.map {
    background-color: #111111;
    height: 400px;
    margin-top: 2%;
}

/* CreativeWokrs */

.CreativeWokrs {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 218px;
}

.buttonStart {
    width: auto;
    padding: 12px 40px;
    margin: 24px 0 0;
}

/* Choose Us */

.titelItem {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5.6px;
    margin: 35px 0;
}

.customIcons  span  {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
    color: #111111;
    margin: 35px 0;
}

.row3Center {
    text-align: center;
}

/* What People Say  */

.wrapper {
    overflow: hidden;
    text-align: -webkit-center;
    position: relative;
}

.text-center {
    text-align: center;
    min-width: 100vw;

}

.listWrap {
    display: flex;
    transition: all ease 1s;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100vw;
}

.btn-next {
    position: absolute;
    top: -70px;
    right: -73px;
    transform:rotate(45deg);
    border: none;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    font-size: 20px
}

.btn-back {
    position: absolute;
    bottom: -70px;
    left: -73px;
    transform:rotate(45deg);
    border: none;
    background-color: #ffffff;
    height: 20px;
    width: 70px;
    font-size: 20px
}

.btn-left {

    border-bottom: 100px solid rgb(255, 255, 255);
    border-left: 100px solid transparent;
    position: absolute;
    left: -4%;
    transform: rotate(-45deg)
}

.btn-rigth {
    border-top: 100px solid rgb(255, 255, 255);
    border-right: 100px solid transparent;
    position: absolute;
    right: -4%;
    transform: rotate(-45deg)
}

/* News */

.newsTitel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.leftText{ 
    text-align: left;
}

.newsTitel a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.grayButton {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 10px 20px;
    margin: 0 0 10px;
}

.grayButton:hover {
    background-color: #3f3c3c
}

.textNews {
    margin: 20px 0;
}

/* Subscripe */

.Subscribe {
    height: 264px;
    background-color: #f8f8f8;
}

.subscribeCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.inputCenter {
    text-align: center;
    
}

.titelSubscribe {
    color: #111111;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 2% 0;
    text-align: center;
}

.inputText {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 19px;   
}

.subscribeButton {
    background-color: #000000;
    background-color: #111111;
    opacity: 0.8;
    border: none;
    height: 39px;
    padding: 0 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    margin: 0 0 10px;
    
}

.subscribeButton:hover {
    opacity: 0.5;
}

/*section contacts*/

.contact {
    margin: 0 20%;
}

.contactInput {
    display: flex;
}

.contactInput div {
    width: 50%;
    margin: 6% 0 3%;
}

.contactInput input, .contactInput textarea {
    width: 94%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contactInput textarea {
    height: 108px;
}

.contactInfo {
    display: flex;
    justify-content: flex-start;
}

.contactInfo img {
    width: 32px;
    height: 32px;
    margin: 5px 3px 0 0;
}

.contactInfo p {
    color: #444444;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    color: #777777;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-family: "Open Sans - Light";
    font-weight: 300;
    line-height: 24px;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit span {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Font Awesome";
    font-size: 12px;
    font-family: "Open Sans";
}

/*section contacts*/

/*section footer*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f8f8;
    height: 430px;
}

.footer > img {
    width: 78px;
    height: 30px;
 }

.socialIcon {
   display: flex;
   justify-content: center;
}

.social {
    color: #000000;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 5px;
    transform: rotate(45deg);
    position: relative;
    margin: 30px 13px auto;
}

.social:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.iconStyle {
    position: absolute;
    font-size: 20px;
    bottom: 6px;
    left: 6px;
    transform: rotate(-45deg);
}


.copyright {
    text-align: center;
    justify-content: space-between;
    margin: 109px auto 58px;
    height: 36px;
}

.copyright h4 {
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.copyright p {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px;
}

/* media */

@media screen and (max-width: 960px) {

    header > nav {
        display: none;   
    }

    .mainTitel h1 {
        text-align: center;
        font-size: 25px;
        letter-spacing: 25px;
    }
    .mainTitel h3 {
        text-align: center;
        font-size: 20px;
    }


    .row3 {
        flex-wrap: wrap;
    }

    .row3 > div {
        width: 48%;
    }

    .row3  .subtitelAbout {
        width: 100%;
    }

    .row3-img > div {
        width: 100%;
        text-align: center;
    }
    
    .listServices {
        flex-wrap: wrap;
    }

    .imgDisplay {
        display: none;
    }

    .GrayLayr {
        width: 50%;
    }
    
    .btn-left {
        left: -8%;
    }

    .btn-rigth {
        right: -8%;
    }

    .contactInput {
        flex-direction: column;
    }
    .contactInput > div {
        width: 100%;
        margin: 0;
    }

    .submit {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .menuTablet {
        display: flex;
    }

    .PortfolioText {
        max-width: 85%;
    }

    .contactInfo p {
       letter-spacing: normal;
    }

}

@media screen and (max-width: 600px) {
    .mainTitel h1 {
        text-align: center;
        font-size: 16px;
        letter-spacing: 25px;
    }
    .mainTitel h3 {
        text-align: center;
        font-size: 14px;
    }

    .row3 {
        flex-wrap: wrap;
    }

    .row3 > div {
        width: 100%;
    }
    .portfolioList {
        flex-direction: column;
        align-items: center;
    }
    .GrayLayr {
        width: 100%;
    }
} 